.wrapper {
        background-image: none
    }

form {
    display: inline;
}

html, body, .viewport {
        width: 100%;
        height: 100%;
        margin: 0;
        overflow: hidden;
      }

.fileIcon {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    height: 50px;
    position: relative;
}

.fileIcon .pdf {
    background-image: url('images/pdf.png');
    background-repeat: no-repeat;
    background-size: 50px 50px;
    display: inline-block;
}

#_buttons span {
    display: flex;
    flex-direction: column;
}

#_buttons button {
    padding: 0.5em;
    margin: 0.5em;
}

#_outer_div {
    position: absolute;
    top: 63px;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 1px gray solid;
}

#_placed_panel {
    position: absolute;
    top:0;
    left: 0;
    bottom: 5px;
    z-index: 10;
    display: flex;
    flex-direction: row;
    width: 400px;
}

#_buttons {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-grow: 1;
    width: 150px;
}

#_filter_group {
    overflow-y: scroll;
    height: 100%;
    flex-grow: 2;
    max-width: 250px;
}

.fieldWrapper > select {
    width: 100%;
}

#_container {
    position: absolute;
    left: calc(0% + 400px);
    right: 0;
    top: 0;
    margin: 1px;
    height: 99%;
    font-size: 0.75rem;
    z-index: 10;
}


#_container.ropen {
    animation-name: editropen;
    animation-duration: 1s;
    right: 25%;
}

@keyframes editropen {
    from {
        right: 0;
    }

    to {
        right: 25%;
    }
}


#_container.rclose {
    animation-name: editrclose;
    animation-duration: 0.5s;
    right: 0;
}

@keyframes editrclose {
    from {
        right: 25%;
    }

    to {
        right: 0;
    }
}

#_slider_panel {
    display: none;
    z-index:-1;
    order: 3;
    height: 100%;
}


#_slider_panel.open {
    display: inline-block;
    animation-duration: 1s;
    animation-name: slidein;
    z-index: -1;
    margin: 2px;
    width: 225px;
    height: 100%;
    overflow-y: scroll;
}

@keyframes slidein {
    from {
        width: 0;

    }

    to {
        width: 225px;
    }
}

#_slider_panel.open_map {
    width: 100%;
    animation-duration: 1.5s;
    animation-name: map-slidein;
    height: 100%;
    display: inline-block;
}

@keyframes map-slidein {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

#_slider_panel.open_from_trans {
    display: inline-block;
    width: 100%;
    animation-duration: 1s;
    animation-name: map-trans-slidein;
    height: 100%;
    overflow-y: scroll;
}

@keyframes map-trans-slidein {
    from {
        width: 225px;
    }

    to {
        width: 100%;
    }
}

#_slider_panel.close {
    display: inline-block;
    animation-duration: 0.5s;
    animation-name: slideout;
    z-index: -1;
    margin: 2px;
    width: 0;
    height: 100%;
}

@keyframes slideout {
    from {
        width: 225px;
    }

    to {
        width: 0;
    }
}

#_slider_panel.close_to_trans {
    display: inline-block;
    animation-name: map-trans-slideout;
    animation-duration: 0.5s;
    height: 100%;
    width: 225px;
}

@keyframes map-trans-slideout {
    from {
        width: 100%;
    }

    to {
        width: 225px;
    }
}

#_slider_panel.close_map {
    animation-name: map-slideout;
    animation-duration: 1s;
    display: inline-block;
    height: 100%;
}

@keyframes map-slideout {
    from {
        width: 100%;
    }

    to {
        width: 0;
    }
}
#_slider_flex_container {
    /*display: flex;*/
}

.panel_slide {
    display: none;
}

.panel_slide.visible {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

#_resultBox {
    display: inline-block;
    border: 1px solid darkslateblue;
    background-color: white;
    height: 100%;
    overflow-y: scroll;
    position: absolute;
    width: 100%;
}

#_type_submit {
    display: inline-block;
    float: right;
    padding-bottom: 35px;
}

#_update_panel {
    order: 5;
    overflow-y: scroll;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*height: 100%;*/
    margin: 3px;
    top: 0;
    left: 100%;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 10;
    background-color: white;
}

#_update_panel.open {
    animation-name: openpanel;
    animation-duration: 1s;
    left: 75%;
}

@keyframes openpanel {
    from {
        left: 100%;
    }

    to {
        left: 75%;
    }
}

#_update_panel.close {
    animation-name: closepanel;
    animation-duration: 0.5s;
    left: 100%;
}

@keyframes closepanel {
    from {
        left: 75%;
    }

    to {
        left: 100%;
    }
}

label {
    margin: auto;
    font-size: 0.75rem;
}