.wrapper {
        background-image: none
    }

html, body, .viewport {
        width: 100%;
        height: 100%;
        margin: 0;
        overflow: hidden;
      }

#_buttons button {
    margin: 0.5em;
}

#_outer_div {
    position: absolute;
    top: 63px;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 1px gray solid;
}

#_outer_div form {
    height: 100%;
    margin-left:1em;
    margin-right:1em;
}

#_placed_panel {
    position: absolute;
    top:0;
    left: 0;
    right: 75%;
    bottom: 5px;
    z-index: 10;
    display: flex;
    flex-direction: row;
}

#_buttons {
    display: flex;
    flex-direction: column;
    order: 1;
    height: 100%;
    flex-grow: 1;
}

#_filter_group {
    order: 2;
    overflow-y: scroll;
    height: 100%;
    flex-grow: 2;
}

#_flex_container {
    position: absolute;
    display: flex;
    left: 25%;
    right: 0;
    flex-direction: row;
    margin: 1px;
    height: 99%;
    font-size: 0.75rem;
    align-items: flex-start;
    z-index: 10;
}

#_flex_container label {
    font-size: 0.75rem;
}

#_slider_panel {
    display: none;
    z-index:-1;
    order: 3;
    height: 100%;
}


#_slider_panel.open {
    display: flex;
    animation-duration: 1s;
    animation-name: slidein;
    z-index: -1;
    margin: 2px;
    width: 250px;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

@keyframes slidein {
    from {
        width: 2px;
    }

    to {
        width: 250px;
    }
}

#_slider_panel.close {
    display: flex;
    animation-duration: 0.5s;
    animation-name: slideout;
    z-index: -1;
    margin: 2px;
    width: 0;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

@keyframes slideout {
    from {
        width: 250px;
    }

    to {
        width: 2px;
    }
}

.panel_slide {
    display: none;
}

.panel_slide.visible {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

#_resultBox {
    order: 4;
    border: 1px solid darkslateblue;
    background-color: white;
    flex-grow: 6;
    height: 100%;
    overflow-y: hidden;
}

#_type_submit {
    display: inline-block;
    float: right;
}

label {
    margin: auto
}