{% extends 'base.html' %}

{% block staticfiles %}
<link rel="stylesheet" href="/static/cadGIS/style.css">
{% endblock %}

{% block content %}
    <div class="modifier-class trailer-2 js-tab-group">
        <nav class="tab-nav">
            {% for entry in data|dictsort:"key" %}
                <a class="tab-title js-tab">{{ entry.key }}</a>
            {% endfor %}
        </nav>
        <section class="tab-contents">
            {% for entry in data|dictsort:"key" %}
                <article class="tab-section js-tab-section">
                    <div class="overflow-auto">
                        <table>
                            <thead>
                                <tr>
                                    <th>CAD Layer Name</th>
                                    <th>Shape</th>
                                    <th>Status</th>
                                    <th>Repaired</th>
                                    <th>CAD Filename</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for x in entry.values %}
                                    <tr>
                                        <td>{{ x.cad_layer_name }}</td>
                                        <td>{{ x.shape }}</td>
                                        <td>{{ x.status }}</td>
                                        <td>{{ x.repaired }}</td>
                                        <td>{{ x.cad_file_name }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </article>
            {% endfor %}
        </section>
    </div>
{% endblock %}