*.pyc
*.suo
*.sln
*.pyproj
*.pubxml
*.user
*.iml
*.id
*.vs
*/db.sqlite3-journal
pip-selfcheck.json
*/workspace.xml
rtaa_gis/web.config
rtaa_gis/web.debug.config
.idea/
rtaa_gis/fileApp/static/fileApp/pdfjs/
venv_35/
**/node_modules/
**/src/dgrid/
**/src/dijit/
**/src/dojo/
**/src/dojox/
**/src/dstore/
**/src/esri/
**/src/moment/
**/src/put-selector/
**/src/util/
**/src/xstyle/