*.pyc
*.suo
*.sln
*.pyproj
*.pubxml
*.log
*.user
*.iml
*.id
*.vs
*/db.sqlite3
*/db.sqlite3-journal
pip-selfcheck.json
*/workspace.xml
eDocSearchAPI/web.config
eDocSearchAPI/web.debug.config
eDocSearchAPI/ptvs_virtualenv_proxy.py
eDocSearchAPI/eDocSearchAPI.pyproj
eDocSearchAPI/desktop.ini
eDocSearchAPI.readme.mht
eDocSearchAPI/static/
eDocSearchAPI/media/
eDocSearchAPI/venv/
eDocSearchAPI/env/
eDocSearchAPI/obj/
eDocSearchAPI/.idea/
*/logs/*
.idea/
eDocSearchAPI/_fileApp/static/_fileApp/pdfjs/
env_35/
