*.coverage
*.pyc
*.suo
*.sln
*.pyproj
*.pubxml
*.user
*.iml
*.id
*.vs
**/db.sqlite3-journal
**/db.sqlite3
pip-selfcheck.json
*/workspace.xml
rtaa_gis/web.config
rtaa_gis/web.debug.config
.idea/
**/logs/
rtaa_gis/fileApp/static/fileApp/pdfjs/
**/venv/
rtaa_gis/static/
rtaa_gis/media/
**/node_modules/
**/static/fileApp/pdf.js
**/static/fileApp/pdf.worker.js
**/fixtures/data/