<div>
	<div data-dojo-attach-point="_dropdown" id="_dropdown" class="dropdown js-dropdown">
		<button class="btn btn-clear dropdown-btn js-dropdown-toggle" data-dojo-attach-point="Select" type="button" tabindex="0" aria-haspopup="true" aria-expanded="false">
			Select Grid Cells
			<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 32 32" class="svg-icon"><path d="M28 9v5L16 26 4 14V9l12 12L28 9z"/></svg>
		</button>
		<nav class="dropdown-menu modifier-class" data-dojo-attach-point="_menu" role="menu">
			<a class="dropdown-link" role="menu-item" data-dojo-attach-point="Point">Point</a>
			<a class="dropdown-link" role="menu-item" data-dojo-attach-point="Multi Point">Multi Point</a>
			<a class="dropdown-link" role="menu-item" data-dojo-attach-point="Polygon">Polygon</a>
			<a class="dropdown-link" role="menu-item" data-dojo-attach-point="Freehand Polygon">Freehand Polygon</a>
			<a class="dropdown-link" role="menu-item" data-dojo-attach-point="Circle">Circle</a>
			<a class="dropdown-link" role="menu-item" data-dojo-attach-point="Ellipse">Ellipse</a>
		</nav>
		<button class="btn" data-dojo-attach-point="ClearAll">ClearAll</button>
	</div>
</div>