<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.0" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" validateRequest="false" />
    <httpRuntime requestValidationMode="2.0" maxQueryStringLength="10000" maxRequestLength="999999" maxUrlLength="999999" />
        <roleManager enabled="true" />
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="999999999" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
      </customHeaders>
    </httpProtocol>
    <modules runAllManagedModulesForAllRequests="false">
      <remove name="WebDAVModule" />
    </modules>
        <staticContent>
            <!--<mimeMap fileExtension=".appcache" mimeType="text/cache-manifest" />-->
        </staticContent>
        <security>
            <requestFiltering>
                 <requestLimits maxQueryString="327680" />
            </requestFiltering>
            <authorization>
                <remove users="*" roles="" verbs="" />
                <add accessType="Allow" users="" roles="Arora, Planning" />
                <add accessType="Allow" roles="GIS_Airspace_Group" />
                <add accessType="Allow" users="*" />
            </authorization>
        </security>
  </system.webServer>
  <appSettings>
    <add key="AuthKey" value="Bearer 31da0f563a4e31b127ade05516ca4bd451abb1af561f30a4fc12373e30e59563" />
    <add key="UploadImageDirectory" value="D:\www_virtual\PDX\DocumentUploads\images" />
    <add key="DocumentUploadDirectory" value="D:\www_virtual\PDX\DocumentUploads" />
  </appSettings>
</configuration>