<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>RTAA GIS Page</title>
    <link rel="shortcut icon" href="app/img/favicon.ico">

    <script src="https://s3-us-west-1.amazonaws.com/patterns.esri.com/files/calcite-web/1.0.0-beta.29/js/calcite-web.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/dojo/1.11.2/dojo/dojo.js"
            data-dojo-config="selectorEngine: 'lite', async: true"></script>

    <link rel="stylesheet" type="text/css" href="static/_home/style.css"/>
    {% csrf_token %}
</head>

<body>
    <div class="drawer drawer-left js-drawer" data-drawer="top-nav" tabindex="0">
      <nav class="drawer-nav" role="navigation">
        <aside class="side-nav">
          <h2 class="side-nav-title">RTAA GIS</h2>
          <a href="/#home" class="side-nav-link">HomePage</a>
          <a href="/#gisportal/home" class="side-nav-link">GIS Portal</a>
          <a href="/#departments/home" class="side-nav-link">Departments</a>
          <a href="/#web-resources/home" class="side-nav-link">Web Resources</a>
          <a href="/#help/home" class="side-nav-link">Help</a>
        </aside>
      </nav>
    </div>

    <div class="wrapper">
      <header class="top-nav">
        <div class="grid-container">
          <div class="column-24">
            <div class="tablet-hide">
              <a href="/#home" class="top-nav-title">RTAA GIS</a>
              <nav class="top-nav-list" role="navigation" aria-labelledby="topnav">
                <a class="top-nav-link" href="/#gisportal/home">GIS Portal</a>
                <a class="top-nav-link" href="/#departments/home">Departments</a>
                <a class="top-nav-link" href="/#web-resources/home">Web Resources</a>
                <a class="top-nav-link" href="/#help/home">Help</a>
              </nav>
            </div>
            <div class="tablet-show">
              <a href="/" class="icon-ui-menu top-nav-title js-drawer-toggle" data-drawer="top-nav">RTAA GIS</a>
            </div>
            <nav class="sign-in">
              <a href="#" class="btn btn-small btn-clear">Sign Up</a>
              <a href="#" class="btn btn-small btn-transparent">Sign In</a>
            </nav>
          </div>
        </div>
      </header>

      <!--the sub-nav section is controlled by router -->
      <header id="headerPane" class="sub-nav " role="banner">
      </header>

    </div>
    <!-- busy indicator -->
    <div class="loader is-active padding-leader-3 padding-trailer-3">
      <div class="loader-bars"></div>
      <div class="loader-text">Loading</div>
    </div>

    <!-- content of page -->
    <div id="main-content" class="grid-container column-24">
        {% block content %}
        {% endblock %}
    </div>

    <!-- footer of the page -->
    <div class="footer" role="contentinfo">
      <footer class="footer avenir-regular pre-1 tablet-pre-1">
        <div class="container">
          <nav class="column-6">
            <h6><span>Regional Information</span></h6>
            <ul class="list-plain">
              <li><a href="">Reno, NV</a></li>
              <li><a href="">Sparks, NV</a></li>
              <li><a href="">Regional Updates</a></li>
            </ul>
          </nav>

          <nav class="column-6 tablet-leader-1">
            <h6><span>Departments</span></h6>
            <ul class="list-plain">
              <li><a href="/#departments/engineering">Engineering</a></li>
              <li><a href="/#departments/operations">Operations</a></li>
              <li><a href="/#departments/planning">Planning</a></li>
              <li><a href="/#departments/utilities">Utilities</a></li>
            </ul>
          </nav>

          <nav class="column-6 tablet-leader-1">
            <h6>About Reno Tahoe International Airport</h6>
            <ul class="list-plain">
              <li><a href="http://renoairport.com/reno-tahoe-region">About Us</a></li>
              <li><a href="http://renoairport.com/airport-authority/contact-us">Contact Us</a></li>
              <li><a href="http://renoairport.com/airport-authority">Airport Authority</a></li>
            </ul>
          </nav>

          <nav class="column-5 padding-leader-half right tablet-leader-1">
            <img class="rtaa_logo gutter-left-2" src="app/img/logo/rtaa_logo.png"/>
            <section class="footer-social-nav gutter-left-3">
              <a class="icon-social-twitter" href="https://twitter.com/RenoAirport"></a>
              <a class="icon-social-contact" href="http://renoairport.com/airport-authority/contact-us"></a>
              <a class="icon-social-linkedin" href="https://www.linkedin.com/company/reno-tahoe-international-airport"></a>
            </section>
          </nav>
          <div class="column-24">
             <p><small>2016 Arora Engineering, Inc.</small></p>
          </div>
        </div>
      </footer>
    </div>
    <script src="/static/_home/main.js"></script>
    <script>
        calcite.init()
    </script>
</body>
</html>
