{% load static %}
<!-- The dojo cdn -->
<script>
    dojoConfig = {
        parseOnLoad: true,
        async: true
    }
</script>
<script src="//ajax.googleapis.com/ajax/libs/dojo/1.12.1/dojo/dojo.js"></script>
<script>
    require(["dojo/_base/array", "dojo/query", "dojo/dom-class", "dojo/dom-construct", "dojo/dom", "dojo/on", 'dojo/domReady!'],
        function (Array, query, domClass, domConstruct, dom, on) {
            // disable the loader gif
            var node = query(".loader")[0];
            domClass.remove(node, 'is-active');

            var footer_links = query("footer li");
            Array.forEach(footer_links, function (e) {
                domClass.add(e, "font-size--3");
            });

            var footer = query("#footer-container");
            var top_nav_title = query(".top-nav-title");
            Array.forEach(top_nav_title, function (e) {
                on(e, 'click', function (evt) {
                    domClass.remove(footer[0], 'hide');
                    domClass.add(footer[0], 'show');
                });
            });
            var top_nav_link = query(".top-nav-link");
            Array.forEach(top_nav_link, function (e) {
                on(e, 'click', function (evt) {
                    domClass.remove(footer[0], 'show');
                    domClass.add(footer[0], 'hide');
                });
            });
        });

</script>