{% if request.user.is_authenticated %}
    <script>
          // set up your dojoConfig
          var dojoConfig = {
            baseUrl: '../static/home/dojo',
            parseOnLoad: false,
            async: true,
            isDebug: false
          };
    </script>
    <!-- The built dojo path -->
    <script src="../static/home/dojo/dojo.js"></script>
{% else %}
    <script data-dojo-config="async: 1"
            src="//ajax.googleapis.com/ajax/libs/dojo/1.10.4/dojo/dojo.js"></script>
{% endif %}


<script>
    require(["dojo/_base/array", "dojo/query", "dojo/dom-class", "dojo/dom-construct", "dojo/dom", "dojo/on", 'dojo/domReady!'],
        function (Array, query, domClass, domConstruct, dom, on) {
            var node = query(".loader")[0];
            domClass.remove(node, 'is-active');
            {% if request.user.is_authenticated %}
                var link = domConstruct.create("a", {href: "/#home"});
                link.click();
                domConstruct.destroy(link);
            {% endif %}
            var footer_links = query("footer li");
            Array.forEach(footer_links, function(e) {
                domClass.add(e, "font-size--3");
            });

            var footer = query("#footer-container");
            var top_nav_title = query(".top-nav-title");
            Array.forEach(top_nav_title, function(e) {
                on(e, 'click', function(evt) {
                    domClass.remove(footer[0], 'hide');
                    domClass.add(footer[0], 'show');
                });
            });
            var top_nav_link = query(".top-nav-link");
            Array.forEach(top_nav_link, function(e) {
                on(e, 'click', function(evt) {
                    domClass.remove(footer[0], 'show');
                    domClass.add(footer[0], 'hide');
                });
            });
        });

</script>