{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, user-scalable=no">

    {% block icon %}{% endblock %}

    {% block stylesheets %}
        <link rel="stylesheet" href="https://s3-us-west-1.amazonaws.com/patterns.esri.com/files/calcite-web/1.0.0-rc.8/css/calcite-web.min.css">
        <link rel="stylesheet" type="text/css" href="{%  static 'home/resources/home_main.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{%  static 'home/app/resources/app.css' %}"/>
    {% endblock %}

    {% block title %}{% endblock %}

</head>

<body class="claro">
        {% block mobile_header_nav %}{% endblock %}
    <div class="wrapper">
        {% block header_nav %}{% endblock %}
        {% block content %}{% endblock %}
        {% block busy_indicator %}{% endblock %}
    </div>
    <div id="footer-container" class="animate-in-up tablet-hide">
        {% block footer %}{% endblock %}
    </div>

    <script src="https://s3-us-west-1.amazonaws.com/patterns.esri.com/files/calcite-web/1.0.0-rc.8/js/calcite-web.min.js"></script>
{#    <script src="https://code.createjs.com/createjs-2015.11.26.min.js"></script>#}

    <script>
        calcite.init()
    </script>
    {% block scripts %}
    {% endblock %}
</body>
</html>
