<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, user-scalable=no">

    {% block icon %}{% endblock %}

    {% block stylesheets %}{% endblock %}

    {% block title %}{% endblock %}

</head>

<body>
    <div class="wrapper">
        {% block header_nav %}
        {% endblock %}
        {% block busy_indicator %}
        {% endblock %}
        {% block content %}
        {% endblock %}
    </div>
    {% block footer %}
    {% endblock %}

    {% include 'scripts.html' %}
</body>
</html>
