<script src="https://s3-us-west-1.amazonaws.com/patterns.esri.com/files/calcite-web/1.0.0-beta.36/js/calcite-web.min.js"></script>
<script src="https://code.createjs.com/createjs-2015.11.26.min.js"></script>

{% if request.user.is_authenticated %}
    <script>
          // set up your dojoConfig
          var dojoConfig = {
            baseUrl: '../static/home/dist/dojo',
            parseOnLoad: false,
            async: true,
            isDebug: false
          };
    </script>
    <!-- The built dojo path -->
    <script src="../static/home/dist/dojo/dojo.js"></script>
{% else %}
    <script data-dojo-config="async: 1"
            src="//ajax.googleapis.com/ajax/libs/dojo/1.10.4/dojo/dojo.js"></script>
{% endif %}

<script>
    calcite.init()
</script>
<script>
    require(["dojo/query", "dojo/dom-class", "dojo/dom-construct", "dojo/dom", "dojo/on", 'dojo/domReady!'],
        function (query, domClass, domConstruct, dom, on) {
            var node = query(".loader")[0];
            domClass.remove(node, 'is-active');
            {% if request.user.is_authenticated %}
                var link = domConstruct.create("a", {href: "/#home"});
                link.click();
                domConstruct.destroy(link)
            {% endif %}
            var fc = dom.byId('footer-container');
{#            on(fc, "mouseenter", function(evt) {#}
{#                domClass.add(fc, "footer-tall");#}
{#            });#}
{#            on(fc, "mouseleave", function(evt) {#}
{#                domClass.remove(fc, "footer-tall");#}
{#            });#}

    });
</script>