<div class="overflow-auto">
    <table>
        <thead>
            <tr>
                <th>Priority</th>
                <th>Title</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Low</td>
                <td>Build Issue Tracker App</td>
                <td>Needs Completion</td>
            </tr>
            <tr>
                <td>N/A</td>
                <td>Replace Title bar image and text</td>
                <td>Complete</td>
            </tr>
            <tr>
                <td>Med</td>
                <td>Replace logo in lower right of footer</td>
                <td>Needs Completion</td>
            </tr>
            <tr>
                <td>High</td>
                <td>Make page refresh work from within django app</td>
                <td>Needs Attention</td>
            </tr>
            <tr>
                <td>N/A</td>
                <td>Deploy 2d Airspace and Property Apps to our web server;
                add as demo apps in framework</td>
                <td>Complete</td>
            </tr>
            <tr>
                <td>High</td>
                <td>Investigate the timeout issue; followed by map load from the proxy</td>
                <td>Needs Investigation</td>
            </tr>
        </tbody>
    </table>
</div>