html {
    overflow-x: hidden;
    /*overflow-y: hidden;*/
}

/*body {*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/
/*}*/

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;
    padding: 0;
}

.iframe-container {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 65px;
}

.iframe-container iframe {
    position: relative;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
}

.footer {
    background-color: #FFFFFF;
    padding-bottom: 3px;
}

.js-drawer-toggle, .side-nav-title {
    padding-left: 1.0rem;
}