<script src="https://s3-us-west-1.amazonaws.com/patterns.esri.com/files/calcite-web/1.0.0-beta.31/js/calcite-web.min.js"></script>
<script src="https://code.createjs.com/createjs-2015.11.26.min.js"></script>
<script>
      // set up your dojoConfig
      var dojoConfig = {
        baseUrl: '.',
        parseOnLoad: false,
        async: true,
        isDebug: true,
        deps: ['app/main'],
        tlmSiblingOfDojo: false,
        packages: [
          'app',
          'dijit',
          'dojo',
          'dojox',
          'dstore',
          'dgrid',
          'xstyle',
          'put-selector',
          'esri'
        ]
      };
    </script>

<!-- Can use Dojo loader directly -->
<script src="../static/home/src/dojo/dojo.js"></script>
<!-- The built dojo path -->
<!-- <script src="../static/home/dist/dojo/dojo.js"></script>-->
<script>
    calcite.init()
</script>
<script>
    require(['dojo/parser', "dojo/query", "dojo/dom-class", 'dojo/domReady!'],
        function (parser, query, domClass) {
            var node = query(".loader")[0];
            domClass.remove(node, 'is-active');
    });
</script>