
._PageBanner .search-bar {
	justify-content: right
}

._PageBanner h1 {
	float: left
	margin-top: 10px
}

._PageBanner.off {
	display: none
}

._PageBanner.activated {
	display: auto
}

._PageBanner {
	background-color: transparent
}