._PageBanner  {
	background-color: #9BC19C
}

._PageBanner .search-bar {
	justify-content: right
}

._PageBanner h1 {
	float: left
	margin-top: 10px
}

._PageBanner.off {
	display: none
}

._PageBanner.activated {
	display: auto
}