{% extends 'home/home_body.html' %}
{% load static %}

{% block title %}
    <Title>GIS Admin Portal</Title>
{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" href="https://js.arcgis.com/4.3/esri/css/main.css">
{% endblock %}

{% block header_nav %}
    {{ block.super }}
{% endblock %}

{% block busy_indicator %}
    {{ block.super }}
{% endblock %}

{#This main_content block resides within the Content Block on the home_body.html#}
{% block main_content %}
    <header class="sub-nav" role="banner">
        <div class="grid-container">
            <div class="column-24">
                <h1 class="sub-nav-title text-white">GIS Admin Page</h1>
                <nav class="sub-nav-list" role="navigation" aria-labelledby="subnav">
                    <a class="sub-nav-link" href="#"></a>
                </nav>
            </div>
        </div>
    </header>
    <div id="collector-guide">
        {% include 'analytics/collector-guide.html' %}
    </div>
    <div id="admin-viewer">
        {% include 'analytics/admin-viewer.html' %}
    </div>
    <div id="publishing-tools">
        {% include 'analytics/publishing-tools.html' %}
    </div>
{% endblock %}

{% block footer %}
    {{ block.super }}
{% endblock %}

{% block scripts %}
    {% include 'analytics/gisAdmin_scripts.html' %}
{% endblock %}