<!-- load the esri jsapi 4.x api -->
<script>
    dojoConfig = {
        parseOnLoad: true,
        async: true
    }
</script>
<script src="https://js.arcgis.com/4.3/"></script>
<script>
    require(["dojo/_base/array", "dojo/query", "dojo/dom-class", "dojo/dom-construct", "dojo/dom", "dojo/on", "dojo/domReady!"],
        function (Array, query, domClass, domConstruct, dom, on) {
            // disable the loader gif
            var node = query(".loader")[0];
            domClass.remove(node, 'is-active');
        });
</script>