coreapi
coverage
django-braces
django-cors-middleware
django-crispy-forms
django-extensions
django-pyodbc-azure
django-rest-swagger
djangorestframework
djangorestframework-jsonp
ldap3
watchdog
wfastcgi
openpyxl
xlrd
PyPDF2