@import url("https://s3-us-west-1.amazonaws.com/patterns.esri.com/files/calcite-web/1.0.0-rc.3/css/calcite-web.min.css");
@import url("//fonts.googleapis.com/css?family=Maven+Pro");
@import "../templates/resources/card_template.styl";
@import "../templates/resources/homepage_banner_template.styl";
@import "../templates/resources/page_banner_template.styl";

html {
    overflow-x: hidden;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;
    padding: 0;
}

.footer {
    padding-bottom: 3px;
    margin-top: 10px
}

#main-content {
    flex-direction: row
	justify-content: flex-start
	margin-left: auto
	margin-right: auto
	margin-top: 10px
}

.admin-panel {
    border: 0.5px black solid
}