{% extends 'base.html' %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="../../static/cloudSync/cloudSync.css"/>
{% endblock %}

{% block content %}
    {% for x in layers %}
        <div class="overflow-auto">
            <table class="table-blue">
                <tr>
                    <td>Layer: </td>
                    <td>{{ x.title }}</td>
                </tr>
                <tr>
                    <td>Item ID: </td>
                    <td>{{ x.id }}</td>
                </tr>
                <tr>
                    <td>Spatial Reference</td>
                    <td>{{ x.spatialReference }}</td>
                </tr>
                <tr>
                    <td>Url </td>
                    <td>{{ x.url }}</td>
                </tr>
            </table>
        </div>
    {% endfor %}
{% endblock %}