{% extends "home/AppLoader.html" %}
{% load static %}
{% load rest_framework %}

{% block stylesheets %}
    {{ block.super }}

    <link rel="stylesheet" href="https://js.arcgis.com/3.23/dijit/themes/claro/claro.css">
    <link rel="stylesheet" type="text/css" href="{%  static 'fileApp/viewer.css' %}"/>
    <link rel="stylesheet" href="https://js.arcgis.com/3.23/esri/css/esri.css">
    {% include 'fileApp/css/templated_styles.html' %}
{% endblock %}

{% block content %}
    <div id="_outer_div">
        <form action="{% url 'fileApp:eDoc' %}" method="post" id="_filter_form">
        {% csrf_token %}
            <div id="_placed_panel">
                <div id="_buttons">
                    <span>
                        <button id="_file_type_handle" class="btn btn-clear">File Types</button>
                    </span>
                    <span>
                        <button id="_doc_type_handle" class="btn btn-clear">Doc Types</button>
                    </span>
                     <span>
                        <button id="_map_handle" class="btn btn-clear">Map</button>
                    </span>
                    <span>
                        <button id="_reset_handle" formmethod="get" href="{% url 'fileApp:eDoc' %}" class="btn btn-clear">Reset</button>
                    </span>
{#                    {% if 'Arora' in groups or '_RTAA_GIS' in groups %}#}
                    <span>
                        <button id="_attribute_handle" class="btn btn-clear">Attributes</button>
                    </span>
{#                    <span>#}
{#                        <button id="_batch_edit_handle" class="btn btn-clear">Batch Update</button>#}
{#                    </span>#}
{#                    {% endif %}#}
                </div>
                <div id="_filter_group">
                    <input class="btn btn-fill" type="submit" value="Search" />
                    {% for field in filter_form %}
                        {% if field.name != 'sheet_type' and field.name != 'discipline' and field.name != 'airport' and field.name != 'funding_type' and field.name != 'file_type' and field.name != 'image_type' and field.name != 'gis_type' and field.name != 'table_type' and field.name != 'document_type'%}
                             <div class="fieldWrapper form-group">
                                {{ field.errors }}
                                {{ field.label_tag }} {{ field }}
                                {% if field.help_text %}
                                <p class="help">{{ field.help_text|safe }}</p>
                                {% endif %}
                            </div>
                        {% elif field.name == 'sheet_type' or field.name == 'discipline' or field.name == 'airport' or field.name == 'funding_type'%}
{#                            these fields require the list forma widgets#}
                             <div class="fieldWrapper form-group inline-list">
                                {{ field.errors }}
                                {{ field.label_tag }} {{ field }}
                                {% if field.help_text %}
                                <p class="help">{{ field.help_text|safe }}</p>
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                    <input class="btn btn-fill" type="submit" value="Search" />
                </div>
            </div>
            <div id="_slider_panel">
                <div id="_file_type_group" class="panel_slide">
                <input class="btn btn-fill" type="submit" value="Search" />
                    <div>
                        <input title='select all' id='all_file_type_select_all' class="_inline" type="checkbox" checked>
                        <div class="_inline">- Select All</div>
                    </div>
                    {% for field in filter_form|dictsort:"name" %}
                        {% if field.name == 'file_type' or field.name == 'image_type' or field.name == 'table_type' or field.name == 'gis_type'%}

                            <div class="fieldWrapper">
                                {{ field.errors }}
                                {{ field.label_tag }}
                                {{ field }}
                                {% if field.help_text %}
                                <p class="help">{{ field.help_text|safe }}</p>
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                    <input class="btn btn-fill" type="submit" value="Search" />
                </div>

                <div id="_doc_type_group" class="panel_slide">
                    <input class="btn btn-fill" type="submit" value="Search" />
                    <div>
                        <input title='select all' id='_doc_type_select_all' class="_inline" type="checkbox" checked>
                        <div class="_inline">- Select All</div>
                    </div>
                    {% for field in filter_form %}
                        {% if field.name == 'document_type' %}
                            <div class="fieldWrapper">
                                {{ field.errors }}
                                {{ field.label_tag }} {{ field }}
                                {% if field.help_text %}
                                <p class="help">{{ field.help_text|safe }}</p>
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                    <input class="btn btn-fill" type="submit" value="Search" />
                </div>
            </div>
            <div id="_container">
                <div id="_map_group">
                    <div id="map"></div>
                    <div class="widgetContainer">
                        <div id="widgetNode"></div>
                    </div>
                </div>
                <div id="_resultContainer">
                    <div id="_resultBox">
                        {% if not efiles|length %}
                            <div>No results returned</div>
                        {% else %}
                            {% for file in efiles %}
                                <div class="icon-container">
                                    {% if file.file_type in viewable_types %}
                                    <div class="fileIcon viewable"
                                    {% else %}
                                    <div class="fileIcon non-viewable"
                                    {% endif %}
                                         data-file-id="{{ file.id }}"
                                         data-file-date-added="{{ file.date_added|date:"Y-m-d" }}"
                                         data-file-path="{{ file.file_path }}"
                                         data-file-base-name="{{ file.base_name }}"
                                         data-file-grid-cells="{{ file.grid_cells.all|join:"," }}"
                                         data-file-project-title="{{ file.project_title }}"
                                         data-file-project-desc="{{ file.project_description }}"
                                         data-file-project-date="{{ file.project_date|date:"Y-m-d" }}"
                                         data-file-sheet-title="{{ file.sheet_title }}"
                                         data-file-sheet-type="{{ file.sheet_type.all|join:"," }}"
                                         data-file-doc-type="{{ file.document_type.all|join:"," }}"
                                         data-file-sheet-desc="{{ file.sheet_description }}"
                                         data-file-vendor="{{ file.vendor }}"
                                         data-file-discipline="{{ file.discipline.all|join:"," }}"
                                         data-file-airport="{{ file.airport }}"
                                         data-file-funding-type="{{ file.funding_type }}"
                                         data-file-grant-number="{{ file.grant_number }}">

                                            <div class="{{ file.file_type }}-icon icon-image">
                                             {{ file.base_name|truncatechars:29 }}
                                            </div>
                                            <div id="_{{ file.id }}_toast"></div>
                                        </div>
                                    </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="pagination text-center trailer-1 leader-1">
                        <span class="step-links">
{#                        These submit buttons will only add their value to the Filter Form post data if they are clicked#}
                            {% if efiles.has_previous %}
                                <button class="btn-transparent font-size-0" name="page" type="submit" value="{{ efiles.previous_page_number }}">previous</button>
                            {% endif %}
                            <span class="current">
                                Page {{ efiles.number }} of {{ efiles.paginator.num_pages }}.
                            </span>
                            {% if efiles.has_next %}
                                <button class="btn-transparent font-size-0" name="page" type="submit" value="{{ efiles.next_page_number }}">next</button>
                            {% endif %}
                        </span>
                    </div>
                </div>
            </div>
        </form>
        <form action='{% url 'fileApp:file-updater' %}' method="post">
            {% csrf_token %}
            <div id="_update_panel">
                {% if isEditor %}
                    <input class="btn-green btn-fill" type="submit" value="Save" />
                    <p class="font-size--5 text-center text-rule">File Attributes Editor/Viewer</p>
                    {% else %}
                    <p class="font-size--5 text-center text-rule">File Attributes Viewer</p>
                {% endif %}
                    <div id="_edit_file_name"></div>
                    {% for field in edit_form.hidden_fields %}
                        <div style="display: none;">
                            {{ field.errors }}
                            {{ field }}
                        </div>
                    {% endfor %}
                    {% for field in edit_form.visible_fields %}
                        {% if field.name == "edit_sheet_type" or field.name == "edit_discipline" or field.name == "edit_doc_type" or field.name == "edit_grid_cells" or field.name == "edit_new_grid_cells" %}
                             <div class="fieldWrapper form-group">
                                <button class="accordion">{{ field.label_tag }}</button>
                                <div class="panel">
                                    {{ field.errors }}
                                    {{ field }}
                                    {% if field.help_text %}
                                    <p class="help">{{ field.help_text|safe }}</p>
                                    {% endif %}
                                </div>
                             </div>

                        {% else %}
                            <div class="fieldWrapper">
                                {{ field.errors }}
                                {{ field.label_tag }} {{ field }}
                                {% if field.help_text %}
                                <p class="help">{{ field.help_text|safe }}</p>
                                {% endif %}
                            </div>
                        {% endif %}

                    {% endfor %}
                {% if isEditor %}
                    <input class="btn-green btn-fill" type="submit" value="Save" />
                {% endif %}
            </div>
        </form>
    </div>
{% endblock %}

{% block footer %}
    {{ block.super }}
{% endblock %}

{% block scripts %}
    {% include 'fileApp/eDocUserView_scripts.html' %}
{% endblock %}