{% load static %}

<!-- The dojo cdn -->
<script>
    dojoConfig = {
        parseOnLoad: true,
        async: true
    }
</script>
<script src="https://js.arcgis.com/4.3/"></script>
<script>
    require(["dojo/_base/array", 'dijit/registry', 'dojo/_base/unload', "dojo/hash", "dojo/query", "dojo/dom-class", "dojo/dom-construct", "dojo/dom", "dojo/on", 'dojo/domReady!'],
        function (Array, registry, baseUnload, hash, query, domClass, domConstruct, dom, on) {

            var unLoad = function() {
                Array.forEach(registry.toArray(), function(item) {
                    item.destroyRecursive();
                });
            };
            baseUnload.addOnUnload(unLoad);

            var request_hash = hash();
            if (request_hash) {
                hash(request_hash);
            } else {
                hash("home");
            }
            // disable the loader gif
            var node = query(".loader")[0];
            domClass.remove(node, 'is-active');

            var footer_links = query("footer li");
            Array.forEach(footer_links, function (e) {
                domClass.add(e, "font-size--3");
            });
        });
    </script>