{% load static %}

<!-- The dojo cdn -->
<script>
    var dojoConfig = {
        baseUrl: './',
        async: true,
        debug: true,
        tlmSiblingofDojo: false,
        selectorEngine: 'lite',
        parseOnLoad: true,

        packages: [
            {name: "fileApp", location: "{% static 'fileApp' %}"},
            {name: "dojo", location: "//js.arcgis.com/3.23/dojo"},
            {name: "dijit", location: "//js.arcgis.com/3.23/dijit"},
            {name: "dstore", location: "//js.arcgis.com/3.23/dstore"},
            {name: "dgrid", location: "//js.arcgis.com/3.23/dgrid"},
            {name: "put-selector", location: "//js.arcgis.com/3.23/put-selector"},
            {name: "esri", location: "//js.arcgis.com/3.23/esri"},
            {name: "dojox", location: "//js.arcgis.com/3.23/dojox"},
            {name: "xstyle", location: "//js.arcgis.com/3.23/xstyle"},
            {name: "moment", location: "//js.arcgis.com/3.23/moment"},
            {name: "util", location: "//js.arcgis.com/3.23/util"}
            ]
    };
</script>
<script src="https://js.arcgis.com/3.23/"></script>
<script src="{% static  'fileApp/main.js'%}"></script>