{% load static %}
<style>
    div.pdf-icon:before {
        content:url({% static 'fileApp/images/pdf_96.png' %});
    }
    div.odt-icon:before {
        content:url({% static 'fileApp/images/odt_96.png' %});
    }
    div.ods-icon:before {
        content:url({% static 'fileApp/images/ods_96.png' %});
    }
    div.odp-icon:before {
        content:url({% static 'fileApp/images/odp_96.png' %});
    }
    div.mxd-icon:before {
        content:url({% static 'fileApp/images/mxd_96.png' %});
    }
    div.mpk-icon:before {
        content:url({% static 'fileApp/images/mpk_96.png' %});
    }
    div.lyr-icon:before {
        content:url({% static 'fileApp/images/lyr_96.png' %});
    }
    div.lpk-icon:before {
        content:url({% static 'fileApp/images/lpk_96.png' %});
    }
    div.dwg-icon:before {
        content:url({% static 'fileApp/images/dwg_96.png' %});
    }
    div.docx-icon:before {
        content:url({% static 'fileApp/images/docx_96.png' %});
    }
    div.doc-icon:before {
        content:url({% static 'fileApp/images/doc_96.png' %});
    }
    div.jpg-icon:before {
        content:url({% static 'fileApp/images/jpg_96.png' %});
    }
    div.img-icon:before {
        content:url({% static 'fileApp/images/img_96.png' %});
    }
    div.png-icon:before {
        content:url({% static 'fileApp/images/png_96.png' %});
    }
    div.pptx-icon:before {
        content:url({% static 'fileApp/images/pptx_96.png' %});
    }
    div.txt-icon:before {
        content:url({% static 'fileApp/images/txt_96.png' %});
    }
    div.tiff-icon:before {
        content:url({% static 'fileApp/images/tiff_96.png' %});
    }
    div.zip-icon:before {
        content:url({% static 'fileApp/images/zip_96.png' %});
    }
    div.xls-icon:before {
        content:url({% static 'fileApp/images/xls_96.png' %});
    }
    div.xlsx-icon:before {
        content:url({% static 'fileApp/images/xlsx_96.png' %});
    }

</style>