<!-- footer for anonymous users -->
<div class="footer" role="contentinfo">
  <footer class="footer avenir-regular pre-1 tablet-pre-1">
    <div class="container">

      <nav class="column-6">
        <h6><span>Regional Information</span></h6>
        <ul class="list-plain">
          <li><a href="">Reno, NV</a></li>
          <li><a href="">Sparks, NV</a></li>
          <li><a href="">Regional Updates</a></li>
        </ul>
      </nav>

      <nav class="column-6 tablet-leader-1">
        <h6>About Reno Tahoe International Airport</h6>
        <ul class="list-plain">
          <li><a href="http://renoairport.com/reno-tahoe-region">About Us</a></li>
          <li><a href="http://renoairport.com/airport-authority/contact-us">Contact Us</a></li>
          <li><a href="http://renoairport.com/airport-authority">Airport Authority</a></li>
        </ul>
      </nav>

      <nav class="column-5 padding-leader-half right tablet-leader-1">
        <img class="rtaa_logo gutter-left-2" src="../../../static/home/dist/app/img/logo/logo_green.jpg"/>
        <section class="footer-social-nav gutter-left-3">
          <a class="icon-social-twitter" href="https://twitter.com/RenoAirport"></a>
          <a class="icon-social-contact" href="http://renoairport.com/airport-authority/contact-us"></a>
          <a class="icon-social-linkedin" href="https://www.linkedin.com/company/reno-tahoe-international-airport"></a>
        </section>
      </nav>
      <div class="column-24">
         <p><small>2016 Arora Engineering, Inc.</small></p>
      </div>
    </div>
  </footer>
</div>