<!-- footer of the home page -->
{% load static %}
<footer class="footer avenir-regular" role="contentinfo">
    <div class="grid-container">
      <nav class="column-9 tablet-leader-1">
        <h6><span>Regional Information</span></h6>
        <ul class="list-plain">
          <li><a href="http://www.reno.gov/">Reno, NV</a></li>
          <li><a href="http://cityofsparks.us/">Sparks, NV</a></li>
          <li><a href="http://mynews4.com/news/local">Regional Updates</a></li>
        </ul>
      </nav>

      <nav class="column-9 tablet-leader-1">
        <h6>About Reno Tahoe International Airport</h6>
        <ul class="list-plain">
          <li><a href="http://renoairport.com/reno-tahoe-region">About Us</a></li>
          <li><a href="http://renoairport.com/airport-authority/contact-us">Contact Us</a></li>
          <li><a href="http://renoairport.com/airport-authority">Airport Authority</a></li>
        </ul>
      </nav>

      <nav class="column-3 right last tablet-leader-1">
          <a target="_blank" href="http://renoairport.com/">
            <img class="rtaa_logo" src="{% static "home/app/img/logo/rtaa_logo.png" %}"/>
          </a>
        <section class="footer-social-nav gutter-left-3 right">
          <a target="_blank" class="icon-social-twitter" href="https://twitter.com/RenoAirport"></a>
          <a target="_blank" class="icon-social-contact" href="http://renoairport.com/airport-authority/contact-us"></a>
          <a target="_blank" class="icon-social-linkedin" href="https://www.linkedin.com/company/reno-tahoe-international-airport"></a>
          <p>Disclaimer: This website is in development</p>
        </section>
      </nav>
    </div>
</footer>